@use "@style/main.scss" as *;
@use "@style/components/text-content/shared.scss" as *;

.bulleted-list {
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;

  @include from-mobile {
    row-gap: 1.6rem;
  }

  @include mobile {
    row-gap: 1.2rem;
  }

  &__text {
      display: inline-block;
      padding-left: 3.7rem;
  }

  &__item {
    position: relative;
    
    &::before {
      content: '';
      position: absolute;
      left: 0.9rem;
      top: 1rem;
      background-color: var(--ultramarine-default-color);
      border-radius: 50%;
    }

    @include mobile {

      &::before {
          width: 0.6rem;
          height: 0.6rem
      }
    }

    @include from-mobile {

      &::before {
          width: 0.5rem;
          height: 0.5rem;
      }
    }
  }

  &__nested-text {
      padding-left: 2.1rem;
  }
  
  &__nested {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 3.8rem;

    @include from-mobile {
      margin-top: 1.6rem;
      row-gap: 1.6rem;
    }
  
    @include mobile {
      margin-top: 1.2rem;
      row-gap: 1.2rem;
    }
    
    &-item {
      position: relative;
      padding-left: 1.25rem;
      
      &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 1rem;
          width: 14px;
          height: 2px;
          border-radius: 1rem;
          background-color: var(--ultramarine-default-color);
      }
    }
  }
}