@use "@style/global/typography.scss";

.link {
    font-family: var(--secondary-font);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: max-content;
    -webkit-tap-highlight-color: transparent;

    &.normal {
        @extend .text-body-small;

        svg {
            height: 2rem;
            width: 2rem;
        }
    }

    &.bold {
        @extend .text-body;

        svg {
            height: 2.4rem;
            width: 2.4rem;
        }
    }

    &.icon {
        svg {
            margin-right: 0.8rem;
        }

        path {
            stroke-width: 0.15rem;
            stroke: var(--ultramarine-default-color);
        }
    }

    &.social {
        @extend .text-body-small-bold;
        color: var(--text-color);

        svg {
            margin-right: 1.2rem;
            border-radius: 0.8rem;
            background-color: var(--gray-color-3);
            width: 2.4rem;
            height: 2.4rem;
            padding: 0.3rem;
        }

        path {
            fill: var(--text-secondary-color);
        }
    }

    &:visited {
        color: var(--text-color);
    }

    &.underlined, &:hover, &:active {
        color: var(--ultramarine-default-color)
    }

    &.underlined, &.icon:hover,  &.icon:active {
        text-decoration: underline var(--ultramarine-default-color) 0.12rem;
        text-underline-offset: 0.3rem;
    }

}