@use "@style/main.scss" as *;

.product-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-color);
    padding: 0.8rem;
    width: fit-content;
    -webkit-tap-highlight-color: transparent;

    @include from-mobile {
        border-radius: 3.2rem;
    }

    @include mobile {
        border-radius: 2.4rem;
    }

    &__image {
        background-color: var(--gray-color-4);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
        
        @include from-mobile {
            border-radius: 2.4rem;
            width: 16.4rem;
            height: 16.4rem;
        }

        @include mobile {
            border-radius: 2rem;
            width: 15.2rem;
            height: 15.2rem;
        }
    }

    &__info {
        display: inline-flex;
        row-gap: 0.8rem;
        flex-direction: column;

        @include from-mobile {
            margin: 2rem 0;
            padding: 0 0.8rem;
        }

        @include mobile {
            margin: 2rem 0 1.6rem;
            padding: 0 0.4rem;
        }
    }

    &__coin-tag {
        display: inline-flex;
        column-gap: 0.4rem;
        font-family: var(--secondary-font);
        @extend .text-caption;
        color: var(--text-secondary-color);

        svg {
            @include from-mobile {
                width: 1.6rem;
                height: 1.6rem;
            }
    
            @include mobile {
                width: 1.2rem;
                height: 1.2rem;
            }
        }
    }

    &__title {
        font-family: var(--main-font);
        @extend .text-h4;
    }

    &__purchase-button {
        width: 100%;

        @include from-mobile {
            margin: 0 0.8rem 0.8rem 0.8rem;
        }

        @include mobile {
            margin: 0 0.4rem 0.4rem 0.4rem;
        }
    }
}