@import '../../global/colors.scss';
@import '../../global/typography.scss';

input[type="radio"],
input[type="checkbox"] {
  display: none; // Скрываем стандартный input
}

label {
    @extend .text-body-small;
    font-family: var(--secondary-font);
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    display: inline-block;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2rem;
        height: 2rem;
        border: 0.2rem solid var(--ultramarine-dark-color);
        background-color: white;
        transition: background-color 0.3s, border-color 0.3s;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
